<h1 mat-dialog-title >Login Form</h1>

<form [formGroup]="loginForm"  >
    <div class="example-container">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com"  
          formControlName="email">
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" autocomplete="current-password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        </div>

        <div mat-dialog-action [align]="'end'">
          <button mat-raised-button style="margin-right: 140px;" color="primary" (click)="login()"  >{{actionbutton}}</button>
        </div>
</form>

